extends layout.pug
block header_title
  p 
      a(href="/books/new", class="button") Create New Book  

block content 
 table
   tr 
    th TITLE
    th AUTHOR
    th GENRE
    th YEAR
    th ID
    
   each val in books  
     tr
      td= val.title
      td= val.author 
      td= val.genre
      td= val.year
      td= val.id